body {
    background-size: cover;
    color: #e9ffe9;
    overflow-x: hidden;

      backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.65);
}

body, section, .hero {
    animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(50, 255, 140, 0.5);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo-img {
    height: 95px;
    transition: 0.3s;
}

.logo-img:hover {
    transform: scale(1.05);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 28px;
}

nav ul li a {
    text-decoration: none;
    color: #d9ffe9;
    font-size: 17px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #00ff85;
    text-shadow: 0 0 12px #00ff85;
}

.hero {
    text-align: center;
    padding: 150px 30px;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(3px);
}

.hero h1 {
    font-size: 70px;
    font-weight: 800;
    color: #ffffff;
}

.highlight-green {
    color: #00ff85;
    text-shadow: 0 0 10px #00ff85;
}

.subtitle {
    font-size: 22px;
    margin-top: 15px;
    color: #cfe8d9;
}

.btn-container {
    margin-top: 35px;
}

.main-btn, .outline-btn {
    padding: 14px 32px;
    border-radius: 35px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s ease;
    font-weight: 600;
}

.main-btn {
    background: #00ff85;
    color: #000;
    box-shadow: 0 0 15px #00ff85;
}

.main-btn:hover {
    transform: translateY(-3px) scale(1.03);
}


section {
    padding: 90px 60px;
}

.section-title {
    font-size: 38px;
    color: #00ff85;
    text-shadow: 0 0 13px #00ff85;
    margin-bottom: 25px;
}

section p, section ul {
    font-size: 18px;
    color: #defee8;
    line-height: 1.8;
}

.highlights-box, .contact-box, .survey-box {
    background: rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(0, 255, 140, 0.3);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 255, 120, 0.2);
}

.gallery {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.img-box {
    width: 300px;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 18px;
    border: 1px solid #00ff85;
    padding: 18px;
    transition: 0.35s ease;
}

.img-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 28px #00ff85;
}

.img-box img {
    width: 100%;
    border-radius: 15px;
}


.survey-box {
    width: 65%;
    margin: auto;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
}

select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background: rgba(0,0,0,0.6);
    border: 2px solid #00ff85;
    color: #fff;
    margin-bottom: 25px;
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #9cffc4;
    border-top: 1px solid #00ff85;
}
